/*
Colors used:

Text Color (black): #000
Primary Color (Grey): #808080
Secondary Color (Gainsboro):#DCDCDC

Fonts used:

font-family: 'Nunito Sans', sans-serif;
*/
:root {
  --primary-color: #808080;
  --secondary-color: #DCDCDC;
  --dark-grey: #2b2b2b;
  --green: #499948;
  --text-color: #000;
  --lightgrey: #D3D3D3;
  --sun-yellow: #fad900;
  --egg-yellow: #faf09e;
  --beige: #FBFCFD;
  --button-shadow: rgba(0, 0, 0, 0.3);
  --font-weight-v-light: 300;
  --font-weight-light: 500;
  --font-weight-bold: 600;
  --font-weight-v-bold: 700;
  --font-size-v-small: 16px;
  --font-size-small: 18px;
  --font-size-medium: 22px;
  --font-size-large: 24px;
  --font-size-v-large: 30px;
}

body {
  font-family: 'Nunito Sans',sans-serif;
  font-weight: var(--font-weight-v-light);
  font-size: var(--font-size-v-small);
  line-height: 1.6;
  margin: 10px;
}

h1 {
  font-size: var(--font-size-v-large);
  font-weight: var(--font-weight-v-bold);
}

h2 {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
}

h3 {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
}

a {
  color: var(--primary-color);
}

a:visited {
  color: var(--dark-grey);
}

a:hover, a:focus {
  text-decoration: none;
}

a:active {
  color: var(--green);
}

#logo__header {
  height: 70px;
}

.page-header {
  display: flex;
  width: 100%;
}

.page-header__item {
  flex: 0 1 200px;
}
